Repository scale-it/algo-builder, pull requests merged in 2021-05, with the labels that each got.

#310 fix concat op in runtime
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
Labels: bug

#321 Should not be able to close asset using clawback
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/test/src/runtime.ts
Labels: bug

#327 add new command: algob sign-lsig
  CHANGELOG.md
  examples/multisig/scripts/multisig_goal_sc.js
  examples/multisig/scripts/multisig_sdk_sc.js
  packages/algob/src/builtin-tasks/sign-lsig.ts
  packages/algob/src/builtin-tasks/sign-multisig.ts
  packages/algob/src/builtin-tasks/task-names.ts
  packages/algob/src/index.ts
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/lsig.ts
  packages/algob/src/lib/msig.ts
  packages/algob/src/types.ts
  packages/algob/test/builtin-tasks/sign-lsig.ts
  packages/algob/test/fixture-projects/config-project/assets/multi-signed-lsig.blsig
  packages/algob/test/fixture-projects/config-project/assets/single-signed-lsig.blsig
  packages/algob/test/internal/core/config/config-loading.ts
  packages/algob/test/mocks/account.ts
  packages/algob/test/mocks/deployer.ts
  test/setup.js
Labels: cli

#335 Permissioned token tests
  examples/permissioned-token/assets/controller.py
  examples/permissioned-token/package.json
  examples/permissioned-token/scripts/admin/force-transfer.js
  examples/permissioned-token/test/common.js
  examples/permissioned-token/test/failing-paths.js
  examples/permissioned-token/test/happy-paths.js
  packages/runtime/src/ctx.ts
  packages/runtime/src/lib/txn.ts
Labels: example, tests

#340 API docs various improvements
  examples/asa/scripts/3-contract-owned-asa.js
  examples/crowdfunding/scripts/createApp.js
  examples/crowdfunding/scripts/transfer/claim.js
  examples/crowdfunding/scripts/transfer/donate.js
  examples/crowdfunding/scripts/transfer/reclaim.js
  examples/crowdfunding/test/crowdfundingTest.js
  examples/crowdfunding/test/failing-tests.js
  examples/crowdfunding/test/happypaths.js
  examples/htlc-pyteal-ts/scripts/withdraw/htlc-withdraw.ts
  examples/permissioned-token-freezing/package.json
  examples/permissioned-token-freezing/test/asset-txfer-test.js
  examples/permissioned-voting/scripts/vote/vote.js
  examples/permissioned-voting/scripts/voting.js
  examples/ref-templates/scripts/htlc.js
  packages/algob/src/index.ts
  packages/algob/src/lib/account.ts
  packages/algob/src/lib/load-program.ts
  packages/algob/src/lib/status.ts
  packages/algob/src/lib/tx.ts
  packages/algob/src/runtime.ts
  packages/runtime/src/lib/asa.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/src/types.ts
Labels: documentation

#341 Fix links in docs
  docs/guide/README.md
  docs/guide/algob-config.md
  docs/guide/deployer.md
  docs/guide/execution-checkpoints.md
  docs/guide/py-teal.md
  docs/guide/user-script-execution.md
  examples/README.md
  examples/multisig/README.md
  examples/permissioned-token/README.md
  examples/permissioned-voting/README.md
  examples/ref-templates/README.md
  examples/stateful-counter/README.md
  packages/algob/README.md
  packages/runtime/README.md
Labels: documentation

#339 Add tests to PR 323 (Add asaName support in executeTransaction)
  packages/algob/src/types.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/lib/tx.ts
  packages/algob/test/mocks/tx.ts
  packages/algob/test/stubs/algo-operator.ts
Labels: algob, tests

#344 Rename parseArgs to parse_params
  CHANGELOG.md
  docs/guide/py-teal.md
  examples/algobpy/parse.py
  examples/asa/assets/5-contract-asa-stateless.py
  examples/crowdfunding/assets/crowdFundEscrow.py
  examples/htlc-pyteal-ts/assets/htlc.py
  examples/permissioned-token-freezing/assets/clawback-escrow.py
  examples/permissioned-token/assets/clawback.py
  examples/permissioned-token/assets/controller.py
  examples/permissioned-token/assets/permissions.py
  examples/ref-templates/assets/dynamic-fee.py
  packages/algob/test/fixture-projects/support-external-parameters/assets/algobpy/parse.py
  packages/algob/test/fixture-projects/support-external-parameters/assets/stateful.py
  packages/algob/test/fixture-projects/support-external-parameters/assets/stateless.py
Labels: algob

#342 Integrate algobpy into sample-project
  CHANGELOG.md
  docs/guide/py-teal.md
  examples/README.md
  examples/asa/assets/5-contract-asa-stateless.py
  packages/algob/sample-project/README.md
  packages/algob/sample-project/algobpy/.gitignore
  packages/algob/sample-project/algobpy/__init__.py
  packages/algob/sample-project/algobpy/parse.py
  packages/algob/sample-project/assets/escrow.py
  packages/algob/sample-project/scripts/1-sampleScript.js
  packages/algob/sample-project/scripts/2-escrow-account.js
Labels: PyTEAL, algob

#345 Fix asset transfer transaction in runtime
  CHANGELOG.md
  examples/permissioned-token/test/happy-paths.js
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/test/src/runtime.ts
Labels: bug, runtime

#346 Add missing tests for asset fields in execute transaction
  packages/algob/test/lib/tx.ts
  packages/algob/test/mocks/tx.ts
  packages/algob/test/stubs/algo-operator.ts
Labels: tests

#337 Update SSC checkpoints storage
  CHANGELOG.md
  docs/guide/execution-checkpoints.md
  examples/crowdfunding/scripts/createApp.js
  examples/stateful-counter/README.md
  examples/stateful-counter/scripts/interaction/update_application.js
  packages/algob/src/index.ts
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/src/lib/ssc.ts
  packages/algob/src/lib/tx.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/lib/script-checkpoints.ts
  packages/algob/test/mocks/deployer.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/runtime/src/lib/asa.ts
Labels: algob, enhancement

#351 TEALv3 - version handle
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/fixtures/basic-teal/assets/basic.teal
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, teal-interpreter

#348 Update runtime to process execParams.deployASA, deploySSC, OptInToASA, OptIntoSSC
  CHANGELOG.md
  examples/permissioned-token-freezing/test/asset-txfer-test.js
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/lib/script-checkpoints.ts
  packages/algob/test/mocks/deployer.ts
  packages/algob/test/mocks/tx.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/runtime/src/account.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/integration/execute-transaction.ts
  packages/runtime/test/mocks/stateful.ts
  packages/runtime/test/src/runtime.ts
  packages/types-algosdk/types/index.d.ts
Labels: enhancement, runtime

#354 Tealv3 opcodes: assert, pushint, pushbytes, swap
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, teal-interpreter
