Repository scale-it/algo-builder, pull requests merged in 2021-06, with the labels that each got.

#349 Support sudirectories in assets folder
  CHANGELOG.md
  docs/guide/README.md
  examples/asa/assets/pyteal/4-gold-asa.py
  examples/asa/assets/pyteal/5-clear.py
  examples/asa/assets/pyteal/5-contract-asa-stateful.py
  examples/asa/assets/pyteal/5-contract-asa-stateless.py
  examples/asa/assets/teal/2-gold-contract-asc.teal
  examples/asa/assets/teal/3-gold-delegated-asc.teal
  examples/asa/assets/teal/4-gold-asa.teal
  examples/asa/scripts/transfer/contract-owned-asa/change-contract-owner.js
  examples/crowdfunding/scripts/createApp.js
  examples/crowdfunding/scripts/transfer/claim.js
  examples/crowdfunding/scripts/transfer/donate.js
  examples/crowdfunding/scripts/transfer/reclaim.js
  examples/htlc-pyteal-ts/scripts/deploy.ts
  examples/htlc-pyteal-ts/scripts/withdraw/htlc-withdraw.ts
  examples/nft/scripts/transfer/create-transfer-nft.js
  examples/permissioned-voting/scripts/voting.js
  examples/ref-templates/scripts/htlc.js
  packages/algob/src/builtin-tasks/compile.ts
  packages/algob/src/builtin-tasks/sign-lsig.ts
  packages/algob/src/builtin-tasks/sign-multisig.ts
  packages/algob/src/index.ts
  packages/algob/src/lib/compile.ts
  packages/algob/src/lib/files.ts
  packages/algob/src/lib/load-program.ts
  packages/algob/src/lib/msig.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/src/runtime.ts
  packages/algob/test/fixture-projects/support-external-parameters/assets/stateful.py
  packages/algob/test/fixture-projects/support-external-parameters/assets/stateless.py
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/index.ts
  packages/runtime/src/lib/asa.ts
  packages/runtime/src/lib/files.ts
  packages/runtime/test/fixtures/subdir-project/assets/file1.teal
  packages/runtime/test/fixtures/subdir-project/assets/folder-1/asa.yaml
  packages/runtime/test/fixtures/subdir-project/assets/folder-1/folder-3/file3.teal
  packages/runtime/test/fixtures/subdir-project/assets/folder-1/folder-3/folder-4/duplicate-file.teal
  packages/runtime/test/fixtures/subdir-project/assets/folder-1/folder-3/folder-4/file4.teal
  packages/runtime/test/fixtures/subdir-project/assets/folder-2/duplicate-file.teal
  packages/runtime/test/fixtures/subdir-project/assets/folder-2/file2.teal
  packages/runtime/test/integration/basic-teal.ts
  packages/runtime/test/integration/escrow-account.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/lib/files.ts
  packages/runtime/test/src/logicsig.ts
Labels: enhancement

#355 Expose Errors for API docs.
  CHANGELOG.md
  packages/algob/src/builtin-tasks/deploy.ts
  packages/algob/src/builtin-tasks/gen-accounts.ts
  packages/algob/src/builtin-tasks/run.ts
  packages/algob/src/errors/errors-list.ts
  packages/algob/src/errors/errors.ts
  packages/algob/src/index.ts
  packages/algob/src/internal/cli/arguments-parser.ts
  packages/algob/src/internal/cli/cli.ts
  packages/algob/src/internal/cli/help-printer.ts
  packages/algob/src/internal/cli/project-creation.ts
  packages/algob/src/internal/context.ts
  packages/algob/src/internal/core/config/config-validation.ts
  packages/algob/src/internal/core/params/argument-types.ts
  packages/algob/src/internal/core/params/env-variables.ts
  packages/algob/src/internal/core/plugins.ts
  packages/algob/src/internal/core/runtime-environment.ts
  packages/algob/src/internal/core/tasks/task-definitions.ts
  packages/algob/src/internal/deployer.ts
  packages/algob/src/internal/util/lazy.ts
  packages/algob/src/internal/util/scripts-runner.ts
  packages/algob/src/lib/account.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/compile.ts
  packages/algob/src/lib/files.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/test/builtin-tasks/deploy.ts
  packages/algob/test/builtin-tasks/run.ts
  packages/algob/test/helpers/environment.ts
  packages/algob/test/helpers/errors.ts
  packages/algob/test/internal/cli/arguments-parser.ts
  packages/algob/test/internal/context.ts
  packages/algob/test/internal/core/config/config-loading.ts
  packages/algob/test/internal/core/config/config-validation.ts
  packages/algob/test/internal/core/errors.ts
  packages/algob/test/internal/core/params/argument-types.ts
  packages/algob/test/internal/core/params/env-variables.ts
  packages/algob/test/internal/core/plugins.ts
  packages/algob/test/internal/core/runtime-environment.ts
  packages/algob/test/internal/core/tasks/dsl.ts
  packages/algob/test/internal/core/tasks/task-definitions.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/internal/util/lazy.ts
  packages/algob/test/internal/util/scripts-runner.ts
  packages/algob/test/lib/files.ts
  packages/algob/test/lib/script-checkpoints.ts
  packages/algob/test/lib/tx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/index.ts
Labels: documentation

#359 move the code from runtime.OptIn*, runtime.addApp(..)
  examples/permissioned-token-freezing/test/asset-txfer-test.js
  packages/runtime/src/ctx.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/src/runtime.ts
Labels: runtime

#358 Tealv3 Txn & Global fields
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/interpreter/opcode.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/test/mocks/txn.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, teal-interpreter

#357 TEALv3 - implement bit opcodes
  CHANGELOG.md
  examples/permissioned-token-freezing/test/asset-txfer-test.js
  packages/algob/test/fixture-projects/config-project-tmp/algob.config.js
  packages/algob/test/fixture-projects/config-project-tmp/assets/README.md
  packages/algob/test/fixture-projects/config-project-tmp/assets/accounts_user.yaml
  packages/algob/test/fixture-projects/config-project-tmp/assets/asc-fee-check.copy.teal
  packages/algob/test/fixture-projects/config-project-tmp/assets/asc-fee-check.teal
  packages/algob/test/fixture-projects/config-project-tmp/assets/gold-asa-py-check.yaml
  packages/algob/test/fixture-projects/config-project-tmp/assets/gold-asa.py
  packages/algob/test/fixture-projects/config-project-tmp/assets/gold-asa.teal
  packages/algob/test/fixture-projects/config-project-tmp/assets/multi-signed-lsig.blsig
  packages/algob/test/fixture-projects/config-project-tmp/assets/single-signed-lsig.blsig
  packages/algob/test/fixture-projects/support-external-parameters-tmp/algob.config.js
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/accounts_user.yaml
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/algobpy/__init__.py
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/algobpy/parse.py
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/stateful.py
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/stateless.py
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/interpreter/opcode.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/parsing.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parsing.ts
Labels: runtime, teal-interpreter

#366 add helper function to print top of stack after each opcode execution
  CHANGELOG.md
  docs/guide/testing-teal.md
  packages/runtime/src/ctx.ts
  packages/runtime/src/interpreter/interpreter.ts
  packages/runtime/src/lib/stack.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/src/interpreter/stack.ts
Labels: enhancement, runtime

#365 implement tealv3 byte opcodes
  packages/algob/test/fixture-projects/config-project-tmp/algob.config.js
  packages/algob/test/fixture-projects/config-project-tmp/assets/README.md
  packages/algob/test/fixture-projects/config-project-tmp/assets/accounts_user.yaml
  packages/algob/test/fixture-projects/config-project-tmp/assets/asc-fee-check.copy.teal
  packages/algob/test/fixture-projects/config-project-tmp/assets/asc-fee-check.teal
  packages/algob/test/fixture-projects/config-project-tmp/assets/gold-asa-py-check.yaml
  packages/algob/test/fixture-projects/config-project-tmp/assets/gold-asa.py
  packages/algob/test/fixture-projects/config-project-tmp/assets/gold-asa.teal
  packages/algob/test/fixture-projects/config-project-tmp/assets/multi-signed-lsig.blsig
  packages/algob/test/fixture-projects/config-project-tmp/assets/single-signed-lsig.blsig
  packages/algob/test/fixture-projects/support-external-parameters-tmp/algob.config.js
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/accounts_user.yaml
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/algobpy/__init__.py
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/algobpy/parse.py
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/stateful.py
  packages/algob/test/fixture-projects/support-external-parameters-tmp/assets/stateless.py
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, teal-interpreter

#360 TEALv3 - implement dig, select, gtxns, gtxnsa opcodes
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/interpreter/opcode.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, teal-interpreter

#370 update sandbox setup
  infrastructure/Makefile
  infrastructure/sandbox-docker-compose.yml
Labels: bug

#362 TEALv3: Min balance
  CHANGELOG.md
  examples/crowdfunding/test/failing-tests.js
  packages/runtime/src/account.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/src/types.ts
  packages/runtime/test/integration/close-clear-ssc.ts
  packages/runtime/test/integration/crowdfunding.ts
  packages/runtime/test/integration/deleteApp.ts
  packages/runtime/test/integration/stateful-counter.ts
  packages/runtime/test/integration/updateApp.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
  packages/runtime/test/src/runtime.ts
Labels: runtime

#379 update infrastructure docs
  infrastructure/README.md
Labels: documentation

#374 Clean yarn linter warnings
  .eslintrc.js
  package.json
  packages/algob/src/builtin-tasks/compile.ts
  packages/algob/src/builtin-tasks/run.ts
  packages/algob/src/internal/cli/cli.ts
  packages/algob/src/internal/tx-log-writer.ts
  packages/algob/src/internal/util/lists.ts
  packages/algob/src/lib/account.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/compile.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/test/builtin-tasks/compile.ts
  packages/algob/test/internal/core/params/argument-types.ts
  packages/algob/test/lib/account.ts
  packages/algob/test/lib/script-checkpoints.ts
  packages/runtime/src/account.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/src/runtime.ts
  packages/runtime/test/integration/basic-teal.ts
  packages/runtime/test/integration/execute-transaction.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  yarn.lock
Labels: dependencies

#382 add test to parsing functions
  packages/runtime/test/src/lib/parsing.ts
Labels: tests

#388 Website style
  docs/_css/bootstrap.min.css
  docs/_css/main.css
  docs/index.html
  media/logo-icon.png
  media/logo-website.png
  media/logo.png
  media/logo.svg
  media/oldlogo/logo.svg
Labels: documentation
