Repository scale-it/algo-builder, pull requests merged in 2021-12, with the labels that each got.

#528 Make console.logs configurable in runtime
  CHANGELOG.md
  examples/dao/test/common.js
  packages/runtime/src/lib/load-program.ts
  packages/runtime/src/lib/pycompile-op.ts
  packages/runtime/src/runtime.ts
Labels: runtime

#531 Update TealDbg class to load tealCode from cache
  CHANGELOG.md
  packages/algob/src/lib/compile.ts
  packages/algob/src/lib/dryrun.ts
  packages/algob/test/lib/dryrun.ts
Labels: algob

#530 Update app deploying to save app with params, load logic from cache
  CHANGELOG.md
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/compile.ts
  packages/algob/src/lib/lsig.ts
  packages/algob/src/lib/tx.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/lib/tx.ts
  packages/algob/test/mocks/deployer.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/web/src/types.ts
Labels: algob

#494 Unique NFT ASA - tests
  examples/unique-nft-asa/README.md
  examples/unique-nft-asa/test/test.js
Labels: runtime, tests

#532 Update zod version to 3.11.9
  packages/algob/package.json
  packages/algob/src/internal/core/config/config-validation.ts
  packages/runtime/package.json
  packages/runtime/src/errors/validation-errors.ts
  packages/web/package.json
  yarn.lock
Labels: dependencies

#538 Update infrastructure scripts to run in dev mode
  CHANGELOG.md
  examples/bond/scripts/run/exit.js
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/private-net-template.json
  infrastructure/sandbox-docker-compose.yml
Labels: infrastructure

#537 DAO integration tests
  examples/dao/test/dao-app-flow.js
Labels: runtime, tests

#533 Update @algo-builder/web package
  packages/web/src/lib/api.ts
  packages/web/src/lib/wallectconnect-mode.ts
Labels: web

#542 Update tutorials 1-4
  docs/tutorials/t-01.md
  docs/tutorials/t-02.md
  docs/tutorials/t-03.md
  docs/tutorials/t-04.md
Labels: documentation

#543 Fix runtime.updateApp, deployer.updateApp
  CHANGELOG.md
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/mocks/deployer.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
Labels: runtime, algob

#547 fixbug can't calculate gas when program start with label
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/fixtures/basic-teal/assets/clear.teal
  packages/runtime/test/fixtures/basic-teal/assets/label-first-line.teal
  packages/runtime/test/integration/gas-calculator.ts
Labels: bug, runtime

#548 Update docs/guide/testing-teal.md
  docs/guide/testing-teal.md
Labels: documentation
