Repository scale-it/algo-builder, pull requests merged in 2021-07, with the labels that each got.

#399 update algob-test
  CHANGELOG.md
  packages/algob/package.json
  packages/algob/src/builtin-tasks/test.ts
  packages/algob/test/builtin-tasks/test.ts
  packages/algob/test/fixture-projects/typescript-project/tsconfig.json
  yarn.lock
Labels: enhancement, tests

#397 Setup reach
  CHANGELOG.md
  infrastructure/.gitignore
  infrastructure/Makefile
  infrastructure/README.md
  packages/algob/test/mocks/tx.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/integration/execute-transaction.ts
Labels: algob, reach

#398 Workflow for examples
  .github/workflows/examples.yaml
  CHANGELOG.md
Labels: enhancement, tests

#406 OptIntoASA using rtypes.AssetTransfer
  CHANGELOG.md
  examples/permissioned-token/test/common.js
  examples/permissioned-token/test/failing-paths.js
  packages/runtime/src/ctx.ts
  packages/runtime/test/src/runtime.ts
Labels: bug

#402 add update test
  packages/algob/src/lib/algo-operator.ts
  packages/algob/test/lib/tx.ts
Labels: algob, tests

#408 document `sign-multisig` command in user guide
  docs/guide/README.md
  docs/guide/sign-multisig.md
Labels: algob, documentation

#407 Integrate types
  packages/web/src/algo-signer-types.ts
  packages/web/src/lib/web-mode.ts
  packages/web/src/types.ts
Labels: web

#410 add tests for algob sign-multisig
  packages/algob/src/builtin-tasks/gen-accounts.ts
  packages/algob/src/builtin-tasks/sign-lsig.ts
  packages/algob/src/builtin-tasks/sign-multisig.ts
  packages/algob/test/builtin-tasks/sign-lsig.ts
  packages/algob/test/builtin-tasks/sign-multisig.ts
  packages/algob/test/fixture-projects/config-project/assets/multisig-signed.txn
Labels: cli, tests

#420 Add support for pooled transaction fees
  CHANGELOG.md
  docs/guide/execute-transaction.md
  examples/asa/scripts/3-contract-owned-asa.js
  examples/asa/scripts/transfer/contract-owned-asa/change-contract-owner.js
  examples/asa/scripts/transfer/contract-owned-asa/contract-to-alice.js
  examples/asa/scripts/transfer/contract-owned-asa/contract-to-bob.js
  examples/asa/scripts/transfer/gold-to-john.js
  examples/asa/scripts/transfer/tesla-to-john.js
  examples/crowdfunding/test/crowdfundingTest.js
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/tx.ts
  packages/algob/src/types.ts
  packages/algob/test/mocks/deployer.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/mock/tx.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/integration/atomic-transfer.ts
  packages/runtime/test/integration/close-clear-ssc.ts
  packages/runtime/test/integration/pool-transaction-fee-test.ts
  packages/runtime/test/src/runtime.ts
  packages/web/src/lib/txn.ts
  packages/web/src/types.ts
Labels: algob, enhancement, runtime

#421 DOCS: Using Tmpl expressions from PyTEAL
  docs/guide/py-teal.md
Labels: documentation

#422 Add indexer setup to the infrastructure scripts
  CHANGELOG.md
  infrastructure/Makefile
  infrastructure/README.md
Labels: indexer, infrastructure

#426 Add accounts name support in runtime
  CHANGELOG.md
  docs/guide/testing-teal.md
  packages/runtime/src/account.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/fixtures/asa-load-fail/assets/asa.yaml
  packages/runtime/test/fixtures/deploy-asa/assets/asa.yaml
  packages/runtime/test/integration/asa-load-fail.ts
  packages/runtime/test/integration/deploy-asa.ts
Labels: enhancement, runtime

#415 Support teal debugger in algob
  CHANGELOG.md
  examples/asa/scripts/transfer/gold-delegated-lsig.debug.js
  packages/algob/src/builtin-tasks/gen-accounts.ts
  packages/algob/src/index.ts
  packages/algob/src/lib/dryrun.ts
  packages/algob/src/lib/lsig.ts
  packages/algob/src/lib/tx.ts
  packages/algob/src/types.ts
  packages/algob/test/lib/dryrun.ts
  packages/algob/test/mocks/tx.ts
Labels: algob, enhancement

#419 Docs: Using TEAL debugger in algob
  docs/guide/README.md
  docs/guide/debugging-teal.md
Labels: documentation
