Repository scale-it/algo-builder, pull requests merged in 2021-09, with the labels that each got.

#455 Add fund account function in runtime
  examples/bond/test/bond-token-flow.js
  examples/bond/test/failing-tests.js
  examples/crowdfunding/test/crowdfundingTest.js
  examples/crowdfunding/test/failing-tests.js
  examples/crowdfunding/test/happypaths.js
  examples/permissioned-token-freezing/test/asset-txfer-test.js
  packages/runtime/src/runtime.ts
Labels: runtime, example

#456 Upgrade pyteal
  Pipfile.lock
  examples/permissioned-token/assets/clear_state_program.py
  examples/permissioned-token/assets/controller.py
  examples/permissioned-token/assets/permissions.py
  examples/permissioned-token/assets/permissions_new.teal
  examples/permissioned-token/scripts/admin/force-transfer.js
  examples/permissioned-token/scripts/user/transfer.js
  examples/permissioned-token/test/common.js
  examples/permissioned-voting/assets/permissioned-voting-approval.py
  examples/permissioned-voting/assets/permissioned-voting-clear.py
  packages/algob/test/builtin-tasks/compile.ts
  packages/algob/test/fixture-projects/config-project/assets/gold-asa-py-check.yaml
  packages/algob/test/fixture-projects/config-project/assets/gold-asa.teal
  packages/algob/test/fixture-projects/support-tmpl-parameters/assets/algobpy/__pycache__/__init__.cpython-38.pyc
  packages/algob/test/fixture-projects/support-tmpl-parameters/assets/algobpy/__pycache__/parse.cpython-38.pyc
  packages/algob/test/fixture-projects/support-tmpl-parameters/expected-stateful.teal
  packages/algob/test/fixture-projects/support-tmpl-parameters/expected-stateless.teal
Labels: dependencies, example

#451 Tealv4 byteslice arithmatic ops
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
Labels: runtime, TEALv4

#457 Init bug fix and add tests
  CHANGELOG.md
  packages/algob/src/internal/cli/project-creation.ts
  packages/algob/test/fixture-projects/init-task/README.md
  packages/algob/test/internal/cli/project-creation.ts
Labels: bug, algob, tests

#462 Rename `optInAcountToASA`, remove SSC prefix
  CHANGELOG.md
  docs/guide/deployer.md
  docs/guide/execution-checkpoints.md
  docs/index.html
  examples/asa/scripts/0-gold-asa.js
  examples/asa/scripts/1-tesla-asa.js
  examples/asa/scripts/transfer/contract-owned-asa/contract-to-alice.js
  examples/asa/scripts/transfer/contract-owned-asa/contract-to-bob.js
  examples/bond/scripts/run/createDex.js
  examples/bond/scripts/run/epoch0.js
  examples/bond/scripts/run/epoch1.js
  examples/bond/scripts/run/redeem.js
  examples/nft/scripts/transfer/common.js
  examples/permissioned-token-freezing/scripts/0-createAppAsset.js
  examples/permissioned-token/scripts/admin/cease.js
  examples/permissioned-token/scripts/admin/force-transfer.js
  examples/permissioned-token/scripts/admin/issue.js
  examples/permissioned-token/scripts/admin/kill.js
  examples/permissioned-token/scripts/admin/update-reserve.js
  examples/permissioned-token/scripts/user/opt-out.js
  examples/permissioned-token/scripts/user/transfer.js
  examples/permissioned-voting/scripts/vote/result.js
  examples/stateful-counter/README.md
  examples/stateful-counter/scripts/interaction/call_application.js
  packages/algob/src/index.ts
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/status.ts
  packages/algob/src/types.ts
  packages/algob/test/lib/tx.ts
  packages/algob/test/mocks/deployer.ts
  packages/algob/test/stubs/algo-operator.ts
Labels: api-breaking

#459 Additional Mathematical Opcodes
  CHANGELOG.md
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/interpreter/opcode.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/interpreter/opcode.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, TEALv4

#453 Update buyTx function/helper functions
  .github/workflows/examples.yaml
  examples/bond/scripts/run/common/common.js
  examples/bond/scripts/run/createDex.js
  examples/bond/scripts/run/epoch0.js
  examples/bond/scripts/run/epoch1.js
  examples/bond/test/bond-token-flow.js
  examples/bond/test/failing-tests.js
  examples/nft/scripts/transfer/common.js
  examples/permissioned-voting/scripts/vote/result.js
  packages/algob/src/lib/status.ts
  packages/algob/src/types.ts
Labels: example

#461 TEALv4: Knowable creatable ID
  CHANGELOG.md
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/src/types.ts
  packages/runtime/test/fixtures/knowable-id/assets/approval-fail.teal
  packages/runtime/test/fixtures/knowable-id/assets/approval-pass.teal
  packages/runtime/test/fixtures/knowable-id/assets/approval.teal
  packages/runtime/test/fixtures/knowable-id/assets/asa.yaml
  packages/runtime/test/fixtures/knowable-id/assets/clear.teal
  packages/runtime/test/integration/knowable-id.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime, TEALv4

#471 Support object type for token and string type for port in config
  CHANGELOG.md
  docs/guide/algob-config.md
  packages/algob/sample-project/common/algob.config.js
  packages/algob/src/internal/core/config/config-validation.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/core/config/config-validation.ts
Labels: algob

#464 [Bug] Random address for logicsig(runtime)
  CHANGELOG.md
  examples/bond/README.md
  packages/runtime/src/logicsig.ts
  packages/runtime/test/src/logicsig.ts
Labels: bug, runtime

#472 Add guide for using purestake-api (algodv2)
  docs/guide/README.md
  docs/guide/purestake-api.md
  packages/algob/sample-project/common/algob.config.js
  packages/algob/src/internal/deployer_cfg.ts
Labels: documentation

#475 extend checkpoint structure to include lsig address.
  CHANGELOG.md
  docs/guide/execution-checkpoints.md
  examples/permissioned-voting/scripts/vote/result.js
  packages/algob/src/internal/deployer.ts
  packages/algob/src/types.ts
Labels: algob

#478 `indexerCfg` in `algob.config.js`
  CHANGELOG.md
  docs/guide/algob-config.md
  docs/guide/purestake-api.md
  examples/algob.config-template.js
  packages/algob/sample-project/common/algob.config.js
  packages/algob/src/internal/core/config/config-validation.ts
  packages/algob/src/internal/deployer.ts
  packages/algob/src/internal/deployer_cfg.ts
  packages/algob/src/lib/driver.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/core/config/config-validation.ts
Labels: algob, indexer

#458 DAO
  examples/asa/assets/teal/4-gold-asa.teal
  examples/dao/README.md
  examples/dao/algob.config.js
  examples/dao/assets/asa.yaml
  examples/dao/assets/dao-app-approval.py
  examples/dao/assets/dao-app-clear.py
  examples/dao/assets/dao-fund-lsig.py
  examples/dao/assets/deposit-lsig.py
  examples/dao/assets/proposal-lsig.py
  examples/dao/package.json
  examples/dao/scripts/deploy.js
  examples/dao/scripts/run/add_proposal.js
  examples/dao/scripts/run/clear_proposal.js
  examples/dao/scripts/run/clear_vote_record.js
  examples/dao/scripts/run/common/accounts.js
  examples/dao/scripts/run/common/common.js
  examples/dao/scripts/run/deposit_vote_token.js
  examples/dao/scripts/run/execute.js
  examples/dao/scripts/run/vote.js
  examples/dao/scripts/run/withdraw_vote_deposit.js
Labels: template

#480 Dao Flow Tests
  CHANGELOG.md
  examples/dao/package.json
  examples/dao/scripts/run/add_proposal.js
  examples/dao/scripts/run/clear_proposal.js
  examples/dao/scripts/run/clear_vote_record.js
  examples/dao/scripts/run/common/tx-params.js
  examples/dao/scripts/run/deposit_vote_token.js
  examples/dao/scripts/run/withdraw_vote_deposit.js
  examples/dao/test/dao-app-flow.js
  packages/algob/src/internal/deployer.ts
Labels: runtime, tests

#482 add docs for `signTransactions`
  docs/guide/execute-transaction.md
  examples/asa/scripts/2-gold-asc.js
  packages/algob/src/index.ts
  packages/algob/src/lib/tx.ts
Labels: documentation
