Repository scale-it/algo-builder, pull requests merged in 2022-07, with the labels that each got.

#719 Fix algob cli
  packages/algob/src/internal/cli/cli.ts
Labels: bug, algob

#731 Feat/txn state proof pk
  CHANGELOG.md
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
Labels: enhancement, runtime, TEAL

#727 SigmaDAO index
  examples/dao/setup_sigma_dao.sql
Labels: indexer, examples

#741 fix docs
  docs/guide/deployer.md
  docs/guide/execute-transaction.md
  docs/guide/testing-teal.md
  docs/tutorials/t-03.md
  docs/tutorials/t-04.md
  examples/stateful-counter/README.md
  packages/web/README.md
Labels: documentation

#742 [chore] upgrade indexer version in makefile
  CHANGELOG.md
  infrastructure/Makefile
Labels: infrastructure, indexer

#744 docs: start new dev project
  README.md
Labels: documentation

#743 Algob init
  .github/workflows/05-examples.yaml
  CHANGELOG.md
  packages/algob/project-dev-script.sh
  packages/algob/sample-project/js/package.json
  packages/algob/sample-project/ts/package.json
  packages/algob/src/builtin-tasks/init.ts
  packages/algob/src/builtin-tasks/unbox-template.ts
  packages/algob/src/internal/cli/project-creation.ts
  packages/algob/src/internal/cli/unbox-template.ts
  packages/algob/test/internal/cli/project-creation.ts
Labels: algob

#746 verify missing condition in dao
  examples/dao/assets/dao-app-approval.py
  examples/dao/assets/dao-fund-lsig.py
  examples/dao/test/failing-path.js
Labels: bug, examples

#745 fix kmd loading and improve docs
  CHANGELOG.md
  docs/guide/README.md
  docs/guide/algob-config.md
  docs/guide/execute-transaction.md
  infrastructure/Makefile
  packages/algob/sample-project/common/algob.config.js
  packages/algob/src/lib/credentials.ts
  packages/algob/test/lib/credentials.ts
  packages/runtime/src/lib/itxn.ts
Labels: bug, documentation
