Repository scale-it/algo-builder, pull requests merged in 2022-02, with the labels that each got.

#571 Add rekey to to inner tx
  CHANGELOG.md
  infrastructure/README.md
  packages/runtime/src/lib/itxn.ts
  packages/runtime/test/fixtures/inner-transaction/assets/approval-rekey.teal
  packages/runtime/test/integration/inner-transaction/rekey.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
Labels: runtime

#573 Enable implicit account
  CHANGELOG.md
  packages/runtime/package.json
  packages/runtime/src/ctx.ts
  packages/runtime/src/runtime.ts
  packages/runtime/test/src/runtime.ts
Labels: runtime

#570 Support App, Lsig by names
  CHANGELOG.md
  docs/guide/deployer.md
  examples/asa/scripts/2-gold-asc.js
  examples/asa/scripts/transfer/gold-contract-sc.js
  packages/algob/src/internal/deployer.ts
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/src/lib/tx.ts
  packages/algob/src/types.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/lib/script-checkpoints.ts
  packages/algob/test/mocks/deployer.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
  packages/runtime/test/src/runtime.ts
  packages/web/src/errors/errors-list.ts
Labels: enhancement, algob

#581 feat: KeyRegistration transaction
  examples/permissioned-token/test/common.js
  examples/permissioned-token/test/happy-paths.js
  packages/algob/src/lib/algo-operator.ts
  packages/algob/test/lib/tx.ts
  packages/runtime/src/ctx.ts
  packages/runtime/test/integration/atomic-transfer.ts
  packages/runtime/test/integration/keyreg.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
  packages/web/src/lib/txn.ts
  packages/web/src/types.ts
Labels: runtime, algob

#591 [tealv6]: support note field
  packages/algob/test/lib/tx.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/itxn.ts
  packages/runtime/test/integration/atomic-transfer.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
Labels: runtime

#592 Runtime.deployApp and deployer.deployApp should return the same type
  CHANGELOG.md
  docs/guide/algob-console.md
  docs/tutorials/t-03.md
  examples/bond/test/bond-token-flow.js
  examples/bond/test/common/common.js
  examples/bond/test/failing-tests.js
  examples/dao/test/common.js
  examples/dao/test/dao-app-flow.js
  examples/permissioned-token-freezing/test/asset-txfer-test.js
  examples/permissioned-token/test/common.js
  examples/permissioned-token/test/failing-paths.js
  examples/stateful-counter/README.md
  packages/algob/src/lib/algo-operator.ts
  packages/algob/src/lib/script-checkpoints.ts
  packages/algob/test/internal/deployer.ts
  packages/algob/test/lib/script-checkpoints.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/interpreter/interpreter.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/integration/atomic-transfer.ts
  packages/runtime/test/integration/deploy-asa.ts
  packages/runtime/test/integration/execute-transaction.ts
  packages/runtime/test/integration/gas-calculator.ts
  packages/runtime/test/integration/inner-transaction/asset-tx.ts
  packages/runtime/test/integration/keyreg.ts
  packages/runtime/test/integration/rekey/rekey-transaction.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
  packages/runtime/test/src/runtime.ts
Labels: runtime

#600 solve `modelsv2.DryRunRequest` type issue from algob
  packages/algob/src/lib/dryrun.ts
Labels: algob, teal-debugger
