Repository scale-it/algo-builder, pull requests merged in 2022-03, with the labels that each got.

#601 feat: handle sdk transaction in runtime
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/itxn.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/integration/SDKTxnRuntime.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
  packages/runtime/test/src/lib/txn.ts
  packages/runtime/test/src/runtime.ts
Labels: runtime

#606 feat: add gloadss opcode
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime

#607 Add doc string for execution modes (app/sig)
  docs/guide/testing-teal.md
Labels: documentation

#605 feat: support bsqrt and divw opcodes
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/math.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/fixtures/teal-files/assets/test-others.teal
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/lib/math.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime

#618 feat: add acct_params_get opcode
  CHANGELOG.md
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/interpreter.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/fixtures/teal-files/assets/teal-v6.teal
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: runtime

#626 feat: add itxn_next opcode
  CHANGELOG.md
  examples/asa/scripts/0-gold-asa.js
  examples/asa/scripts/transfer/contract-owned-asa/change-contract-owner.js
  examples/asa/scripts/transfer/contract-owned-asa/contract-to-alice.js
  examples/asa/scripts/transfer/contract-owned-asa/contract-to-bob.js
  examples/asa/scripts/transfer/master-fund-john.js
  examples/nft/scripts/transfer/common.js
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/interpreter/interpreter.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/itxn.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/fixtures/group-inner-transaction/assets/clear.teal
  packages/runtime/test/fixtures/group-inner-transaction/assets/group.py
  packages/runtime/test/integration/gas-calculator.ts
  packages/runtime/test/integration/group-inner-transaction.ts
  packages/runtime/test/src/interpreter/inner-transaction.ts
  packages/runtime/test/src/parser/parser.ts
Labels: enhancement, runtime

#611 C2c call support
  CHANGELOG.md
  examples/permissioned-token/test/failing-paths.js
  packages/algob/src/lib/compile.ts
  packages/algob/test/builtin-tasks/compile.ts
  packages/algob/test/stubs/algo-operator.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/errors/runtime-errors.ts
  packages/runtime/src/interpreter/interpreter.ts
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/constants.ts
  packages/runtime/src/lib/itxn.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/test/fixtures/c2c-call/assets/c2c-call.py
  packages/runtime/test/fixtures/c2c-call/assets/c2c-echo.py
  packages/runtime/test/fixtures/c2c-call/assets/clear.teal
  packages/runtime/test/fixtures/c2c-call/assets/dummy-approval-v5.teal
  packages/runtime/test/fixtures/c2c-call/assets/dummy-clear-v5.teal
  packages/runtime/test/fixtures/c2c-call/assets/inner-tx-deploy.py
  packages/runtime/test/fixtures/c2c-call/assets/seq-call.py
  packages/runtime/test/integration/c2c-call/c2c-call.ts
  packages/runtime/test/src/lib/txn.ts
  packages/runtime/test/src/runtime.ts
  packages/web/src/lib/myalgowallet-mode.ts
Labels: runtime

#628 feat:add gitxn, gitxna and gitxnas
  CHANGELOG.md
  packages/runtime/src/interpreter/opcode-list.ts
  packages/runtime/src/lib/txn.ts
  packages/runtime/src/parser/parser.ts
  packages/runtime/test/fixtures/teal-files/assets/teal-v6.teal
  packages/runtime/test/src/interpreter/opcode-list.ts
  packages/runtime/test/src/parser/parser.ts
Labels: enhancement, runtime
