Repository scale-it/algo-builder, pull requests merged in 2022-06, with the labels that each got.

#705 Trampoline - fund to application when create.
  .github/workflows/05-examples.yaml
  CHANGELOG.md
  examples/trampoline/.gitignore
  examples/trampoline/README.md
  examples/trampoline/algob.config.js
  examples/trampoline/assets/approval.teal
  examples/trampoline/assets/clear.teal
  examples/trampoline/assets/fundApplication.py
  examples/trampoline/package.json
  examples/trampoline/scripts/deployApp.js
  examples/trampoline/scripts/run/create-fund-app.js
  yarn.lock
Labels: examples

#707 Algob.balanceOf update
  CHANGELOG.md
  packages/algob/src/lib/status.ts
  packages/algob/test/lib/status.ts
Labels: enhancement, algob

#703 mkTransaction error improvements
  packages/web/src/lib/txn.ts
Labels: enhancement

#704 fix typo
  packages/algob/src/builtin-tasks/run.ts
  packages/runtime/src/ctx.ts
  packages/runtime/src/lib/asa.ts
  packages/runtime/src/lib/itxn.ts
  packages/runtime/src/logicsig.ts
  packages/runtime/src/runtime.ts
Labels: documentation, enhancement

#718 Fix bug unhandle maxium inner transaction
  CHANGELOG.md
  packages/runtime/src/ctx.ts
  packages/runtime/src/errors/errors-list.ts
  packages/runtime/src/types.ts
  packages/runtime/test/fixtures/group-inner-transaction/assets/limit-number-txn.py
  packages/runtime/test/integration/group-inner-transaction.ts
Labels: bug, runtime
